{% extends "base.html" %}

{% block container %}
<div class="registration_form">
    <div class="registration">
        <h1>Register</h1>
        <form action="" method='POST'>
            {% csrf_token %}
            UserName: <input type="text" name="username">
            Email: <input type="email" name="email">
            Password: <input type="password" name="password">
            <input type="submit">
        </form>
        <div class="login_btn">
         <a href="Login">Have Already Registered</a>
        </div>
    </div>
</div>
{% endblock container %}